{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
{% for message in messages %}
   <h5>{{message}}</h5>
   {% endfor %}

{% if user.is_authenticated %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form action="" method="POST" novalidate class="shadow p-5">
    {% csrf_token %}
     <div class="mb-3">
       <label for="New Password" class="form-label">New Password</label>
       <input type="New Password" class="form-control" name="New Password">
     </div>
     <div class="mb-3">
       <label for="Confirm New Password" class="form-label">Confirm New Password</label>
       <input type="Confirm New Password" class="form-control" name="Confirm New Password">
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
 </div>
</div>
{% else %}
<h1>please login first</h1>
{% endif %}
{% endblock main-content %}