{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
{% if user.is_authenticated %}
{% for i,j,k in zip %}
    
    <div class="row">
     <div class="col-sm-3 text-center align-self-center"><img src="{{i.image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"> </div>
     <div class="col-sm-9">
      <div>
       <h5>{{i.product_name}}</h5>
       <p class="mb-2 text-muted small">{{i.desc}}</p>
       <div class="my-3">
        <label for="quantity">Quantity:</label>
          <span id="quantity">{{j}}</span>
       </div> 
       <div class="my-3">
        <label for="quantity">Date:</label>
          <span id="quantity">{{k}}</span>
       </div> 
       <div class="d-flex justify-content-between">
        <p class="mb-0"><span><strong>Rs{{i.price}}</strong></span></p>
       </div>
      </div>
     </div>
    </div>
    {% endfor %}
{% else %}
<h1>please login first</h1>
{% endif %}
{% endblock main-content %}